<h4>{{ data.nombre }} {{ data.apellido }}</h4>
<div fxLayout="column" fxLayoutAlign="center stretch">
  <span> <b>DNI Socio:</b> <span fxFlex></span>{{ data.dni }}</span>
  <br />
  <span><b>N° Socio:</b> <span fxFlex></span> {{ data.numeroSocio }}</span>
  <br />
  <span><b>Email:</b><span fxFlex></span> {{ data.email }}</span>
  <br />

  <br />
  <br />
  <span><b>Telefono:</b><span fxFlex></span> {{ data.telefono }}</span>
  <br />
  <span
    ><b>Periodo de afiliacion:</b> <span fxFlex></span>{{ data.inicioPeriodo }} -
    {{ data.finPeriodo }}</span
  >
  <span
  ><b>Periodo de afiliacion:</b> <span fxFlex></span>{{ data.inicioPeriodo }} -
  {{ data.finPeriodo }}</span
>
<span><b>Estado:</b><span fxFlex></span> {{ data.email }}</span>
<br />
</div>
