h4 {
  margin-top: 0;
  text-align: center;
}

mat-expansion-panel {
  margin-bottom: 20px;
  mat-form-field {
    width: 48%;
  }
}
.fullwidth {
  width: 100%;
}

.divFile{
  border: 1px solid #bdbdbdbf;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
}
